In [ ]:
!pip install easyocr

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: easyocr in /usr/local/lib/python3.7/dist-packages (1.6.2)
Requirement already satisfied: scikit-image in /usr/local/lib/python3.7/dist-packages (from easyocr) (0.18.3)
Requirement already satisfied: torch in /usr/local/lib/python3.7/dist-packages (from easyocr) (1.12.1+cu113)
Requirement already satisfied: ninja in /usr/local/lib/python3.7/dist-packages (from easyocr) (1.11.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from easyocr) (6.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from easyocr) (1.7.3)
Requirement already satisfied: opencv-python-headless<=4.5.4.60 in /usr/local/lib/python3.7/dist-packages (from easyocr) (4.5.4.60)
Requirement already satisfied: torchvision>=0.5 in /usr/local/lib/python3.7/dist-packages (from easyocr) (0.13.1+cu113)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from easyocr) (1.21.6)
Requirement already satisfied: pyclipper in /usr/local/lib/python3.7/dist-packages (from easyocr) (1.3.0.post4)
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from easyocr) (7.1.2)
Requirement already satisfied: python-bidi in /usr/local/lib/python3.7/dist-packages (from easyocr) (0.4.2)
Requirement already satisfied: Shapely in /usr/local/lib/python3.7/dist-packages (from easyocr) (1.8.5.post1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torchvision>=0.5->easyocr) (4.1.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from torchvision>=0.5->easyocr) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from python-bidi->easyocr) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision>=0.5->easyocr) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision>=0.5->easyocr) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision>=0.5->easyocr) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision>=0.5->easyocr) (2022.9.24)
Requirement already satisfied: imageio>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from scikit-image->easyocr) (2.9.0)
Requirement already satisfied: matplotlib!=3.0.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-image->easyocr) (3.2.2)
Requirement already satisfied: tifffile>=2019.7.26 in /usr/local/lib/python3.7/dist-packages (from scikit-image->easyocr) (2021.11.2)
Requirement already satisfied: PyWavelets>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from scikit-image->easyocr) (1.3.0)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.7/dist-packages (from scikit-image->easyocr) (2.6.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib!=3.0.0,>=2.0.0->scikit-image->easyocr) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib!=3.0.0,>=2.0.0->scikit-image->easyocr) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib!=3.0.0,>=2.0.0->scikit-image->easyocr) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib!=3.0.0,>=2.0.0->scikit-image->easyocr) (3.0.9)

In [ ]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import easyocr
import pandas as pd
df = pd.read_csv('cleansheet_3 - Sheet1.csv')
df

Empty DataFrame
Columns: [Unnamed: 0, Part Number , Part Name, QTY, ITEM]
Index: []

In [ ]:
reader = easyocr.Reader(['en'])

image_path_1 = 'Table 304.JPG'
image_path_2 = 'Table 305.JPG'
image_path_3 = 'Table 306.JPG'
image_path_4 = 'Table 307.JPG'
image_path_5 = 'Table 308.JPG'
image_path_6 = 'Table 309.JPG'
image_path_7 = 'Table 310.JPG'
image_path_8 = 'Table 311.JPG'
image_path_9 = 'Table 312.JPG'
image_path_10 = 'Table 313.JPG' 

result_1 = reader.readtext(image_path_1, detail=0)
result_2 = reader.readtext(image_path_2, detail=0)
result_3 = reader.readtext(image_path_3, detail=0)
result_4 = reader.readtext(image_path_4, detail=0)
result_5 = reader.readtext(image_path_5, detail=0)
result_6 = reader.readtext(image_path_6, detail=0)
result_7 = reader.readtext(image_path_7, detail=0)
result_8 = reader.readtext(image_path_8, detail=0)
result_9 = reader.readtext(image_path_9, detail=0)
result_10 = reader.readtext(image_path_10, detail=0)

WARNING:easyocr.easyocr:CUDA not available - defaulting to CPU. Note: This module is much faster with a GPU.

In [ ]:
del result_1[0:7]
del result_2[0:7]
del result_3[0:7]
del result_4[0:7]
del result_5[0:7]
del result_6[0:7]
del result_7[0:7]
del result_8[0:7]
del result_9[0:7]
del result_10[0:7]

In [ ]:
result_1

['333/Y1461',
 'Rod Connecting',
 'Engine',
 '3332302',
 'Screw Connecting',
 '333/Y2494',
 'Bush',
 '333/1509',
 'Piston Engine',
 '333/Y2436',
 'Pin Piston',
 '333/Y2471',
 'Bearing Connecting',
 'Rod',
 '333/Y2379',
 'Retaining',
 '333/Y2313',
 'Compression',
 '333/Y2369',
 'Ring Compression',
 '333/Y1457',
 'Compression',
 'Rod',
 'IRing',
 'IRing',
 'Ring']

In [ ]:
result_2

['02/910410',
 'Camshaft',
 '02/910411',
 'Gear Camshaft',
 '02/910062',
 'Key',
 '02/910063',
 'Bracket Cam',
 'hrust',
 '02/911013',
 'Screw',
 '02/910634',
 'Tappet']

In [ ]:
result_3

['332Y5370',
 'Timer Overcrank',
 '333/Y2435',
 'Washer Plain',
 '333/Y2439',
 'Bracket Governor',
 '333/Y2496',
 'MHarness Wiring',
 '333/*2440',
 'INut Lock']

In [ ]:
result_4

['3328Y5833',
 'IRing Gcar Flywhee=',
 'Gear Flywheel',
 '335/C4772',
 'Flywheel',
 '02/911018',
 'Washer Plain',
 '02/911017',
 'Screw',
 'Ring',
 'Ring']

In [ ]:
result_5

['333/Y2281',
 'Housing Flywheel',
 '02/911015',
 'Screw',
 '02/910069',
 'Plate Cover',
 '02/911543',
 'Cover Plate ,',
 '02/912635',
 'Kit-seal Rear',
 'Crankshaft Oil',
 '02/910029',
 'Gasket Rear Seal',
 'IHousing',
 '02/910571',
 '02/910067',
 '0 Ring',
 '02/910068',
 '02/910028',
 'Seal',
 'Rectangular',
 '02/911014',
 'Screw Flange Head]',
 '8.8',
 '333/Y2287',
 'Screw',
 'SCREW,HEXAGO',
 'JAN HEAD',
 'SCREW, HEXAGO',
 'AN HEAD',
 'Reai',
 'Plug',
 'Piug',
 'Ring']

In [ ]:
result_6

['333/Y2433', 'Pin: Throtlle Lever']

In [ ]:
result_7

['333/Y2275', 'Bracket Lifting', '333/Y2343', 'Screw Flange, Hlex']

In [ ]:
result_8

['33312319', 'Cover Access Hole', '332/Y3324', 'Seal Rectangular', 'IRing']

In [ ]:
result_9

['333/2274',
 'Plate Cover',
 '333/Y2273',
 'Gasket',
 '333/2306',
 'Screw Flange, Hex']

In [ ]:
result_10

['02/911676',
 'Bracket',
 '333/Y1456',
 'Shaft Rocker Lever',
 '02/910822',
 'PPlug',
 '02/911674',
 'Levor',
 '02/911139',
 '(Insert Rocker',
 'eve',
 '02/911138',
 '(Screw Adjusting',
 '02/910821',
 'Nut 3/8"-24UNF_',
 'IHeavy Hexagon',
 '02/911673',
 'ever',
 '02/911024',
 'IWasher Plain',
 '02/910083',
 'Circlip',
 '02/910084',
 'Rod Push',
 '02/911025',
 'Bolt',
 '02/911030',
 'Bolt']

# Part Number Extraction for Table 1

In [ ]:
#This block of code finds and segregates the partnumber by pattern matching using regular expression.
import re
#Describe the pattern you are looking for in the below pattern variable. 
pattern = '\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d|\d\d/\d\d\d\d\d\d|\d\d\d\d\D\d\d\d\d|\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d\d|\d\d\d/*\d\d\d\d'
i=0
list_partnumber_1=[]
while i<26:
  a1 = re.findall(pattern,result_1[i])
  list_partnumber_1.append(a1)
  i=i+1
  continue

print(list_partnumber_1)

[['333/Y1461'], [], [], ['3332302'], [], ['333/Y2494'], [], ['333/1509'], [], ['333/Y2436'], [], ['333/Y2471'], [], [], ['333/Y2379'], [], ['333/Y2313'], [], ['333/Y2369'], [], ['333/Y1457'], [], [], [], [], []]

In [ ]:
#Creates a new list after cleaning the list "list_partnumber_1" and the new list is saved under "list_partnumber_1_updated"
list_partnumber_1_updated = []
for i in range(len(list_partnumber_1)):
  if len(list_partnumber_1[i])==0:
    continue
  else:
    list_partnumber_1_updated.append(list_partnumber_1[i][0])
print(list_partnumber_1_updated)

['333/Y1461', '3332302', '333/Y2494', '333/1509', '333/Y2436', '333/Y2471', '333/Y2379', '333/Y2313', '333/Y2369', '333/Y1457']

In [ ]:
#Make Changes to list where there is any error in character detection.
list_partnumber_1_updated[1]='333/Y2302'
list_partnumber_1_updated[3]='333/Y1509'
print(list_partnumber_1_updated)

['333/Y1461', '333/Y2302', '333/Y2494', '333/Y1509', '333/Y2436', '333/Y2471', '333/Y2379', '333/Y2313', '333/Y2369', '333/Y1457']

# Part Number Extraction for Table 2

In [ ]:
#This block of code finds and segregates the partnumber by pattern matching using regular expression.
import re
#Describe the pattern you are looking for in the below pattern variable. 
pattern = '\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d|\d\d/\d\d\d\d\d\d|\d\d\d\d\D\d\d\d\d|\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d\d|\d\d\d/*\d\d\d\d'
i=0
list_partnumber_2=[]
while i<12:
  a2 = re.findall(pattern,result_2[i])
  list_partnumber_2.append(a2)
  i=i+1
  continue

print(list_partnumber_2)

[['02/910410'], [], ['02/910411'], [], ['02/910062'], [], ['02/910063'], [], [], ['02/911013'], [], ['02/910634']]

In [ ]:
#Creates a new list after cleaning the list "list_partnumber_1" and the new list is saved under "list_partnumber_1_updated"
list_partnumber_2_updated = []
for i in range(len(list_partnumber_2)):
  if len(list_partnumber_2[i])==0:
    continue
  else:
    list_partnumber_2_updated.append(list_partnumber_2[i][0])
print(list_partnumber_2_updated)

['02/910410', '02/910411', '02/910062', '02/910063', '02/911013', '02/910634']

# Part Number Extraction for Table 3

In [ ]:
#This block of code finds and segregates the partnumber by pattern matching using regular expression.
import re
#Describe the pattern you are looking for in the below pattern variable. 
pattern = '\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d|\d\d/\d\d\d\d\d\d|\d\d\d\d\D\d\d\d\d|\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d\d|\d\d\d/*\d\d\d\d'
i=0
list_partnumber_3=[]
while i<10:
  a3 = re.findall(pattern,result_3[i])
  list_partnumber_3.append(a3)
  i=i+1
  continue

print(list_partnumber_3)

[[], [], ['333/Y2435'], [], ['333/Y2439'], [], ['333/Y2496'], [], ['333/*2440'], []]

In [ ]:
#Creates a new list after cleaning the list "list_partnumber_1" and the new list is saved under "list_partnumber_1_updated"
list_partnumber_3_updated = []
for i in range(len(list_partnumber_3)):
  if len(list_partnumber_3[i])==0:
    continue
  else:
    list_partnumber_3_updated.append(list_partnumber_3[i][0])
print(list_partnumber_3_updated)

['333/Y2435', '333/Y2439', '333/Y2496', '333/*2440']

In [ ]:
list_partnumber_3_updated.insert(0,"332/Y5370")
list_partnumber_3_updated[4]= '333/Y2440'
print(list_partnumber_3_updated)

['332/Y5370', '333/Y2435', '333/Y2439', '333/Y2496', '333/Y2440']

# Part Number Extraction for Table 4

In [ ]:
#This block of code finds and segregates the partnumber by pattern matching using regular expression.
import re
#Describe the pattern you are looking for in the below pattern variable. 
pattern = '\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d|\d\d/\d\d\d\d\d\d|\d\d\d\d\D\d\d\d\d|\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d\d|\d\d\d/*\d\d\d\d'
i=0
list_partnumber_4=[]
while i<10:
  a4 = re.findall(pattern,result_4[i])
  list_partnumber_4.append(a4)
  i=i+1
  continue

print(list_partnumber_4)

[['3328Y5833'], [], [], ['335/C4772'], [], ['02/911018'], [], ['02/911017'], [], []]

In [ ]:
#Creates a new list after cleaning the list "list_partnumber_1" and the new list is saved under "list_partnumber_1_updated"
list_partnumber_4_updated = []
for i in range(len(list_partnumber_4)):
  if len(list_partnumber_4[i])==0:
    continue
  else:
    list_partnumber_4_updated.append(list_partnumber_4[i][0])
print(list_partnumber_4_updated)

['3328Y5833', '335/C4772', '02/911018', '02/911017']

In [ ]:
list_partnumber_4_updated[0]= '332/Y5833'
print(list_partnumber_4_updated)

['332/Y5833', '335/C4772', '02/911018', '02/911017']

# Part Number Extraction for Table 5

In [ ]:
#This block of code finds and segregates the partnumber by pattern matching using regular expression.
import re
#Describe the pattern you are looking for in the below pattern variable. 
pattern = '\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d|\d\d/\d\d\d\d\d\d|\d\d\d\d\D\d\d\d\d|\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d\d|\d\d\d/*\d\d\d\d'
i=0
list_partnumber_5=[]
while i<33:
  a5 = re.findall(pattern,result_5[i])
  list_partnumber_5.append(a5)
  i=i+1
  continue

print(list_partnumber_5)

[['333/Y2281'], [], ['02/911015'], [], ['02/910069'], [], ['02/911543'], [], ['02/912635'], [], [], ['02/910029'], [], [], ['02/910571'], ['02/910067'], [], ['02/910068'], ['02/910028'], [], [], ['02/911014'], [], [], ['333/Y2287'], [], [], [], [], [], [], [], []]

In [ ]:
#Creates a new list after cleaning the list "list_partnumber_1" and the new list is saved under "list_partnumber_1_updated"
list_partnumber_5_updated = []
for i in range(len(list_partnumber_5)):
  if len(list_partnumber_5[i])==0:
    continue
  else:
    list_partnumber_5_updated.append(list_partnumber_5[i][0])
print(list_partnumber_5_updated)

['333/Y2281', '02/911015', '02/910069', '02/911543', '02/912635', '02/910029', '02/910571', '02/910067', '02/910068', '02/910028', '02/911014', '333/Y2287']

# Part Number Extraction for Table 6

In [ ]:
#This block of code finds and segregates the partnumber by pattern matching using regular expression.
import re
#Describe the pattern you are looking for in the below pattern variable. 
pattern = '\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d|\d\d/\d\d\d\d\d\d|\d\d\d\d\D\d\d\d\d|\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d\d|\d\d\d/*\d\d\d\d'
i=0
list_partnumber_6=[]
while i<1:
  a6 = re.findall(pattern,result_6[i])
  list_partnumber_6.append(a6)
  i=i+1
  continue

print(list_partnumber_6)

[['333/Y2433']]

In [ ]:
#Creates a new list after cleaning the list "list_partnumber_1" and the new list is saved under "list_partnumber_1_updated"
list_partnumber_6_updated = []
for i in range(len(list_partnumber_6)):
  if len(list_partnumber_6[i])==0:
    continue
  else:
    list_partnumber_6_updated.append(list_partnumber_6[i][0])
print(list_partnumber_6_updated)

['333/Y2433']

# Part Number Extraction for Table 7

In [ ]:
#This block of code finds and segregates the partnumber by pattern matching using regular expression.
import re
#Describe the pattern you are looking for in the below pattern variable. 
pattern = '\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d|\d\d/\d\d\d\d\d\d|\d\d\d\d\D\d\d\d\d|\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d\d|\d\d\d/*\d\d\d\d'
i=0
list_partnumber_7=[]
while i<4:
  a7 = re.findall(pattern,result_7[i])
  list_partnumber_7.append(a7)
  i=i+1
  continue

print(list_partnumber_7)

[['333/Y2275'], [], ['333/Y2343'], []]

In [ ]:
#Creates a new list after cleaning the list "list_partnumber_1" and the new list is saved under "list_partnumber_1_updated"
list_partnumber_7_updated = []
for i in range(len(list_partnumber_7)):
  if len(list_partnumber_7[i])==0:
    continue
  else:
    list_partnumber_7_updated.append(list_partnumber_7[i][0])
print(list_partnumber_7_updated)

['333/Y2275', '333/Y2343']

# Part Number Extraction for Table 8

In [ ]:
#This block of code finds and segregates the partnumber by pattern matching using regular expression.
import re
#Describe the pattern you are looking for in the below pattern variable. 
pattern = '\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d|\d\d/\d\d\d\d\d\d|\d\d\d\d\D\d\d\d\d|\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d\d|\d\d\d/*\d\d\d\d'
i=0
list_partnumber_8=[]
while i<4:
  a8 = re.findall(pattern,result_8[i])
  list_partnumber_8.append(a8)
  i=i+1
  continue

print(list_partnumber_8)

[['3331231'], [], ['332/Y3324'], []]

In [ ]:
#Creates a new list after cleaning the list "list_partnumber_1" and the new list is saved under "list_partnumber_1_updated"
list_partnumber_8_updated = []
for i in range(len(list_partnumber_8)):
  if len(list_partnumber_8[i])==0:
    continue
  else:
    list_partnumber_8_updated.append(list_partnumber_8[i][0])
print(list_partnumber_8_updated)

['3331231', '332/Y3324']

In [ ]:
list_partnumber_8_updated[0]= '333/Y2319'
print(list_partnumber_8_updated)

['333/Y2319', '332/Y3324']

# Part Number Extraction for Table 9

In [ ]:
#This block of code finds and segregates the partnumber by pattern matching using regular expression.
import re
#Describe the pattern you are looking for in the below pattern variable. 
pattern = '\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d|\d\d/\d\d\d\d\d\d|\d\d\d\d\D\d\d\d\d|\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d\d|\d\d\d/*\d\d\d\d'
i=0
list_partnumber_9=[]
while i<6:
  a9 = re.findall(pattern,result_9[i])
  list_partnumber_9.append(a9)
  i=i+1
  continue

print(list_partnumber_9)

[['333/2274'], [], ['333/Y2273'], [], ['333/2306'], []]

In [ ]:
#Creates a new list after cleaning the list "list_partnumber_1" and the new list is saved under "list_partnumber_1_updated"
list_partnumber_9_updated = []
for i in range(len(list_partnumber_9)):
  if len(list_partnumber_9[i])==0:
    continue
  else:
    list_partnumber_9_updated.append(list_partnumber_9[i][0])
print(list_partnumber_9_updated)

['333/2274', '333/Y2273', '333/2306']

In [ ]:
list_partnumber_9_updated[0]='333/Y2274'
list_partnumber_9_updated[2]='333/Y2306'
print(list_partnumber_9_updated)

['333/Y2274', '333/Y2273', '333/Y2306']

# Part Number Extraction for Table 10

In [ ]:
#This block of code finds and segregates the partnumber by pattern matching using regular expression.
import re
#Describe the pattern you are looking for in the below pattern variable. 
pattern = '\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d|\d\d/\d\d\d\d\d\d|\d\d\d\d\D\d\d\d\d|\d\d\d\/\D\d\d\d\d|\d\d\d\d\d\d\d\d|\d\d\d/*\d\d\d\d'
i=0
list_partnumber_10=[]
while i<28:
  a10 = re.findall(pattern,result_10[i])
  list_partnumber_10.append(a10)
  i=i+1
  continue

print(list_partnumber_10)

[['02/911676'], [], ['333/Y1456'], [], ['02/910822'], [], ['02/911674'], [], ['02/911139'], [], [], ['02/911138'], [], ['02/910821'], [], [], ['02/911673'], [], ['02/911024'], [], ['02/910083'], [], ['02/910084'], [], ['02/911025'], [], ['02/911030'], []]

In [ ]:
#Creates a new list after cleaning the list "list_partnumber_1" and the new list is saved under "list_partnumber_1_updated"
list_partnumber_10_updated = []
for i in range(len(list_partnumber_10)):
  if len(list_partnumber_10[i])==0:
    continue
  else:
    list_partnumber_10_updated.append(list_partnumber_10[i][0])
print(list_partnumber_10_updated)

['02/911676', '333/Y1456', '02/910822', '02/911674', '02/911139', '02/911138', '02/910821', '02/911673', '02/911024', '02/910083', '02/910084', '02/911025', '02/911030']

# Part Name List Creation

# Part Name Creation Table 1.

In [ ]:
result_1_copy = result_1
for i in result_1_copy[:]:
    if i in list_partnumber_1_updated:
        result_1_copy.remove(i)

print (result_1_copy)

['Rod Connecting', 'Engine', '3332302', 'Screw Connecting', 'Bush', '333/1509', 'Piston Engine', 'Pin Piston', 'Bearing Connecting', 'Rod', 'Retaining', 'Compression', 'Ring Compression', 'Compression', 'Rod', 'IRing', 'IRing', 'Ring']

In [ ]:
del result_1_copy[2]
del result_1_copy[4]

In [ ]:
result_1_copy

['Rod Connecting',
 'Engine',
 'Screw Connecting',
 'Bush',
 'Piston Engine',
 'Pin Piston',
 'Bearing Connecting',
 'Rod',
 'Retaining',
 'Compression',
 'Ring Compression',
 'Compression',
 'Rod',
 'IRing',
 'IRing',
 'Ring']

In [ ]:
partname_1=['Rod Connecting Engine',
 'Screw Connecting Rod',
 'Bush',
 'Piston Engine',
 'Pin Piston',
 'Bearing Connecting Rod',
 'Ring Retaining',
 'Ring Compression',
 'Ring Compression',
 'Ring Compression']

In [ ]:
partname_1

['Rod Connecting Engine',
 'Screw Connecting Rod',
 'Bush',
 'Piston Engine',
 'Pin Piston',
 'Bearing Connecting Rod',
 'Ring Retaining',
 'Ring Compression',
 'Ring Compression',
 'Ring Compression']

# Part Name Creation Table 2

In [ ]:
result_2_copy = result_2
for i in result_2_copy[:]:
    if i in list_partnumber_2_updated:
        result_2_copy.remove(i)

print (result_2_copy)

['Camshaft', 'Gear Camshaft', 'Key', 'Bracket Cam', 'hrust', 'Screw', 'Tappet']

In [ ]:
partname_2=['Camshaft', 'Gear Camshaft', 'Key', 'Bracket Cam Thrust', 'Screw', 'Tappet']

In [ ]:
partname_2

['Camshaft', 'Gear Camshaft', 'Key', 'Bracket Cam Thrust', 'Screw', 'Tappet']

# Part Name Creation Table 3

In [ ]:
result_3_copy = result_3
for i in result_3_copy[:]:
    if i in list_partnumber_3_updated:
        result_3_copy.remove(i)

print (result_3_copy)

['332Y5370', 'Timer Overcrank', 'Washer Plain', 'Bracket Governor', 'MHarness Wiring', '333/*2440', 'INut Lock']

In [ ]:
del result_3_copy[0]
del result_3_copy[4]

In [ ]:
result_3_copy

['Timer Overcrank',
 'Washer Plain',
 'Bracket Governor',
 'MHarness Wiring',
 'INut Lock']

In [ ]:
partname_3=['Timer Overcrank',
 'Washer Plain',
 'Bracket Governor',
 'Harness Wiring',
 'Nut Lock']

In [ ]:
partname_3

['Timer Overcrank',
 'Washer Plain',
 'Bracket Governor',
 'Harness Wiring',
 'Nut Lock']

# Part Name Creation Table 4

In [ ]:
result_4_copy = result_4
for i in result_4_copy[:]:
    if i in list_partnumber_4_updated:
        result_4_copy.remove(i)

print (result_4_copy)

['3328Y5833', 'IRing Gcar Flywhee=', 'Gear Flywheel', 'Flywheel', 'Washer Plain', 'Screw', 'Ring', 'Ring']

In [ ]:
del result_4_copy[0]

In [ ]:
result_4_copy

['IRing Gcar Flywhee=',
 'Gear Flywheel',
 'Flywheel',
 'Washer Plain',
 'Screw',
 'Ring',
 'Ring']

In [ ]:
partname_4=['Ring Gear Flywheel Ring Gear Flywheel Ring',
 'Flywheel',
 'Washer Plain',
 'Screw']

In [ ]:
partname_4

['Ring Gear Flywheel Ring Gear Flywheel Ring',
 'Flywheel',
 'Washer Plain',
 'Screw']

# Part Name Creation Table 5

In [ ]:
result_5_copy = result_5
for i in result_5_copy[:]:
    if i in list_partnumber_5_updated:
        result_5_copy.remove(i)

print (result_5_copy)

['Housing Flywheel', 'Screw', 'Plate Cover', 'Cover Plate ,', 'Kit-seal Rear', 'Crankshaft Oil', 'Gasket Rear Seal', 'IHousing', '0 Ring', 'Seal', 'Rectangular', 'Screw Flange Head]', '8.8', 'Screw', 'SCREW,HEXAGO', 'JAN HEAD', 'SCREW, HEXAGO', 'AN HEAD', 'Reai', 'Plug', 'Piug', 'Ring']

In [ ]:
result_5_copy

['Housing Flywheel',
 'Screw',
 'Plate Cover',
 'Cover Plate ,',
 'Kit-seal Rear',
 'Crankshaft Oil',
 'Gasket Rear Seal',
 'IHousing',
 '0 Ring',
 'Seal',
 'Rectangular',
 'Screw Flange Head]',
 '8.8',
 'Screw',
 'SCREW,HEXAGO',
 'JAN HEAD',
 'SCREW, HEXAGO',
 'AN HEAD',
 'Reai',
 'Plug',
 'Piug',
 'Ring']

In [ ]:
partname_5=['Housing Flywheel',
 'Screw',
 'Plate Cover',
 'Cover Plate , Rear',
 'Kit-seal Rear Crankshaft Oil',
 'Gasket Rear Seal Housing','Plug',
 'O Ring','Plug',
 'Seal Rectangular Ring',
 'Screw Flange Head 8.8',
 'Screw SCREW,HEXAGO AN HEAD SCREW, HEXAGO AN HEAD']

In [ ]:
partname_5

['Housing Flywheel',
 'Screw',
 'Plate Cover',
 'Cover Plate , Rear',
 'Kit-seal Rear Crankshaft Oil',
 'Gasket Rear Seal Housing',
 'Plug',
 'O Ring',
 'Plug',
 'Seal Rectangular Ring',
 'Screw Flange Head 8.8',
 'Screw SCREW,HEXAGO AN HEAD SCREW, HEXAGO AN HEAD']

# Part Name Creation Table 6

In [ ]:
result_6_copy = result_6
for i in result_6_copy[:]:
    if i in list_partnumber_6_updated:
        result_6_copy.remove(i)

print (result_6_copy)

['Pin: Throtlle Lever']

In [ ]:
result_6_copy

['Pin: Throtlle Lever']

In [ ]:
partname_6 = ['Pin: Throttle Lever']

In [ ]:
partname_6

['Pin: Throttle Lever']

# Part Name Creation Table 7

In [ ]:
result_7_copy = result_7
for i in result_7_copy[:]:
    if i in list_partnumber_7_updated:
        result_7_copy.remove(i)

print (result_7_copy)

['Bracket Lifting', 'Screw Flange, Hlex']

In [ ]:
result_7_copy

['Bracket Lifting', 'Screw Flange, Hlex']

In [ ]:
partname_7=['Bracket Lifting', 'Screw Flange, Hex']

In [ ]:
partname_7

['Bracket Lifting', 'Screw Flange, Hex']

# Part Name Creation Table 8

In [ ]:
result_8_copy = result_8
for i in result_8_copy[:]:
    if i in list_partnumber_8_updated:
        result_8_copy.remove(i)

print (result_8_copy)

['33312319', 'Cover Access Hole', 'Seal Rectangular', 'IRing']

In [ ]:
del result_8_copy[0]

In [ ]:
result_8_copy

['Cover Access Hole', 'Seal Rectangular', 'IRing']

In [ ]:
partname_8 = ['Cover Access Hole', 'Seal Rectangular Ring']

In [ ]:
partname_8

['Cover Access Hole', 'Seal Rectangular Ring']

# Part Name Creation Table 9

In [ ]:
result_9_copy = result_9
for i in result_9_copy[:]:
    if i in list_partnumber_9_updated:
        result_9_copy.remove(i)

print (result_9_copy)

['333/2274', 'Plate Cover', 'Gasket', '333/2306', 'Screw Flange, Hex']

In [ ]:
del result_9_copy[0]
del result_9_copy[2]

In [ ]:
result_9_copy

['Plate Cover', 'Gasket', 'Screw Flange, Hex']

In [ ]:
partname_9 = ['Plate Cover', 'Gasket', 'Screw Flange, Hex']

In [ ]:
partname_9

['Plate Cover', 'Gasket', 'Screw Flange, Hex']

# Part Name Creation Table 10

In [ ]:
result_10_copy = result_10
for i in result_10_copy[:]:
    if i in list_partnumber_10_updated:
        result_10_copy.remove(i)

print (result_10_copy)

['Bracket', 'Shaft Rocker Lever', 'PPlug', 'Levor', '(Insert Rocker', 'eve', '(Screw Adjusting', 'Nut 3/8"-24UNF_', 'IHeavy Hexagon', 'ever', 'IWasher Plain', 'Circlip', 'Rod Push', 'Bolt', 'Bolt']

In [ ]:
result_10_copy

['Bracket',
 'Shaft Rocker Lever',
 'PPlug',
 'Levor',
 '(Insert Rocker',
 'eve',
 '(Screw Adjusting',
 'Nut 3/8"-24UNF_',
 'IHeavy Hexagon',
 'ever',
 'IWasher Plain',
 'Circlip',
 'Rod Push',
 'Bolt',
 'Bolt']

In [ ]:
partname_10 = ['Bracket',
 'Shaft Rocker Lever',
 'Plug',
 'Lever',
 'Insert Rocker Lever',
 'Screw Adjusting',
 'Nut 3/8"-24UNF, Heavy Hexagon',
 'Lever',
 'Washer Plain',
 'Circlip',
 'Rod Push',
 'Bolt',
 'Bolt']

In [ ]:
partname_10

['Bracket',
 'Shaft Rocker Lever',
 'Plug',
 'Lever',
 'Insert Rocker Lever',
 'Screw Adjusting',
 'Nut 3/8"-24UNF, Heavy Hexagon',
 'Lever',
 'Washer Plain',
 'Circlip',
 'Rod Push',
 'Bolt',
 'Bolt']

# Quantity List Creation

# Quantity List Creation for Table 1

In [ ]:
QTY_list_1 = []
n_1 = int(input("Enter the list size "))

print("\n")
for i in range(0, n_1):
    print("Enter number at index", i, )
    item = int(input())
    QTY_list_1.append(item)
print("User list is ", QTY_list_1)

Enter the list size 10


Enter number at index 0
1
Enter number at index 1
2
Enter number at index 2
1
Enter number at index 3
6
Enter number at index 4
6
Enter number at index 5
12
Enter number at index 6
12
Enter number at index 7
6
Enter number at index 8
6
Enter number at index 9
6
User list is  [1, 2, 1, 6, 6, 12, 12, 6, 6, 6]

In [ ]:
QTY_list_1

[1, 2, 1, 6, 6, 12, 12, 6, 6, 6]

# Quantity List Creation for Table 2

In [ ]:
QTY_list_2 = []
n_2 = int(input("Enter the list size "))

print("\n")
for i in range(0, n_2):
    print("Enter number at index", i, )
    item = int(input())
    QTY_list_2.append(item)
print("User list is ", QTY_list_2)

Enter the list size 6


Enter number at index 0
1
Enter number at index 1
1
Enter number at index 2
1
Enter number at index 3
1
Enter number at index 4
2
Enter number at index 5
12
User list is  [1, 1, 1, 1, 2, 12]

In [ ]:
QTY_list_2

[1, 1, 1, 1, 2, 12]

# Quantity List Creation for Table 3

In [ ]:
QTY_list_3 = []
n_3 = int(input("Enter the list size "))

print("\n")
for i in range(0, n_3):
    print("Enter number at index", i, )
    item = int(input())
    QTY_list_3.append(item)
print("User list is ", QTY_list_3)

Enter the list size 5


Enter number at index 0
1
Enter number at index 1
1
Enter number at index 2
1
Enter number at index 3
1
Enter number at index 4
1
User list is  [1, 1, 1, 1, 1]

In [ ]:
QTY_list_3

[1, 1, 1, 1, 1]

# Quantity List Creation for Table 4

In [ ]:
QTY_list_4 = []
n_4 = int(input("Enter the list size "))

print("\n")
for i in range(0, n_4):
    print("Enter number at index", i, )
    item = int(input())
    QTY_list_4.append(item)
print("User list is ", QTY_list_4)

Enter the list size 4


Enter number at index 0
1
Enter number at index 1
1
Enter number at index 2
8
Enter number at index 3
8
User list is  [1, 1, 8, 8]

In [ ]:
QTY_list_4

[1, 1, 8, 8]

# Quantity List Creation for Table 5

In [ ]:
QTY_list_5 = []
n_5 = int(input("Enter the list size "))

print("\n")
for i in range(0, n_5):
    print("Enter number at index", i, )
    item = int(input())
    QTY_list_5.append(item)
print("User list is ", QTY_list_5)

Enter the list size 12


Enter number at index 0
1
Enter number at index 1
8
Enter number at index 2
1
Enter number at index 3
2
Enter number at index 4
1
Enter number at index 5
1
Enter number at index 6
1
Enter number at index 7
1
Enter number at index 8
1
Enter number at index 9
1
Enter number at index 10
6
Enter number at index 11
2
User list is  [1, 8, 1, 2, 1, 1, 1, 1, 1, 1, 6, 2]

In [ ]:
QTY_list_5

[1, 8, 1, 2, 1, 1, 1, 1, 1, 1, 6, 2]

# Quantity List Creation for Table 6

In [ ]:
QTY_list_6 = []
n_6 = int(input("Enter the list size "))

print("\n")
for i in range(0, n_6):
    print("Enter number at index", i, )
    item = int(input())
    QTY_list_6.append(item)
print("User list is ", QTY_list_6)

Enter the list size 1


Enter number at index 0
1
User list is  [1]

In [ ]:
QTY_list_6

[1]

# Quantity List Creation for Table 7

In [ ]:
QTY_list_7 = []
n_7 = int(input("Enter the list size "))

print("\n")
for i in range(0, n_7):
    print("Enter number at index", i, )
    item = int(input())
    QTY_list_7.append(item)
print("User list is ", QTY_list_7)

Enter the list size 2


Enter number at index 0
1
Enter number at index 1
2
User list is  [1, 2]

In [ ]:
QTY_list_7

[1, 2]

# Quantity List Creation for Table 8

In [ ]:
QTY_list_8 = []
n_8 = int(input("Enter the list size "))

print("\n")
for i in range(0, n_8):
    print("Enter number at index", i, )
    item = int(input())
    QTY_list_8.append(item)
print("User list is ", QTY_list_8)

Enter the list size 2


Enter number at index 0
1
Enter number at index 1
1
User list is  [1, 1]

In [ ]:
QTY_list_8

[1, 1]

# Quantity List Creation for Table 9

In [ ]:
QTY_list_9 = []
n_9 = int(input("Enter the list size "))

print("\n")
for i in range(0, n_9):
    print("Enter number at index", i, )
    item = int(input())
    QTY_list_9.append(item)
print("User list is ", QTY_list_9)

Enter the list size 3


Enter number at index 0
1
Enter number at index 1
1
Enter number at index 2
2
User list is  [1, 1, 2]

In [ ]:
QTY_list_9

[1, 1, 2]

# Quantity List Creation for Table 10

In [ ]:
QTY_list_10 = []
n_10 = int(input("Enter the list size "))

print("\n")
for i in range(0, n_10):
    print("Enter number at index", i, )
    item = int(input())
    QTY_list_10.append(item)
print("User list is ", QTY_list_10)

Enter the list size 13


Enter number at index 0
1
Enter number at index 1
1
Enter number at index 2
1
Enter number at index 3
1
Enter number at index 4
2
Enter number at index 5
2
Enter number at index 6
2
Enter number at index 7
1
Enter number at index 8
2
Enter number at index 9
2
Enter number at index 10
12
Enter number at index 11
6
Enter number at index 12
6
User list is  [1, 1, 1, 1, 2, 2, 2, 1, 2, 2, 12, 6, 6]

In [ ]:
QTY_list_10

[1, 1, 1, 1, 2, 2, 2, 1, 2, 2, 12, 6, 6]

# ITEM List Creation for Table 1

In [ ]:
ITEM_list_1 = []
ITEM_n_1 = int(input("Enter the list size "))

print("\n")
for i in range(0, ITEM_n_1):
    print("Enter number at index", i, )
    item = int(input())
    ITEM_list_1.append(item)
print("User list is ", ITEM_list_1)

Enter the list size 10


Enter number at index 0
3
Enter number at index 1
6
Enter number at index 2
7
Enter number at index 3
8
Enter number at index 4
9
Enter number at index 5
10
Enter number at index 6
11
Enter number at index 7
12
Enter number at index 8
13
Enter number at index 9
14
User list is  [3, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
ITEM_list_1

[3, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# ITEM List Creation for Table 2

In [ ]:
ITEM_list_2 = []
ITEM_n_2 = int(input("Enter the list size "))

print("\n")
for i in range(0, ITEM_n_2):
    print("Enter number at index", i, )
    item = int(input())
    ITEM_list_2.append(item)
print("User list is ", ITEM_list_2)

Enter the list size 6


Enter number at index 0
1
Enter number at index 1
2
Enter number at index 2
3
Enter number at index 3
4
Enter number at index 4
5
Enter number at index 5
6
User list is  [1, 2, 3, 4, 5, 6]

In [ ]:
ITEM_list_2

[1, 2, 3, 4, 5, 6]

# ITEM List Creation for Table 3

In [ ]:
ITEM_list_3 = []
ITEM_n_3 = int(input("Enter the list size "))

print("\n")
for i in range(0, ITEM_n_3):
    print("Enter number at index", i, )
    item = int(input())
    ITEM_list_3.append(item)
print("User list is ", ITEM_list_3)

Enter the list size 5


Enter number at index 0
1
Enter number at index 1
2
Enter number at index 2
3
Enter number at index 3
4
Enter number at index 4
5
User list is  [1, 2, 3, 4, 5]

In [ ]:
ITEM_list_3

[1, 2, 3, 4, 5]

# ITEM List Creation for Table 4

In [ ]:
ITEM_list_4 = []
ITEM_n_4 = int(input("Enter the list size "))

print("\n")
for i in range(0, ITEM_n_4):
    print("Enter number at index", i, )
    item = int(input())
    ITEM_list_4.append(item)
print("User list is ", ITEM_list_4)

Enter the list size 4


Enter number at index 0
1
Enter number at index 1
2
Enter number at index 2
3
Enter number at index 3
4
User list is  [1, 2, 3, 4]

In [ ]:
ITEM_list_4

[1, 2, 3, 4]

# ITEM List Creation for Table 5

In [ ]:
ITEM_list_5 = []
ITEM_n_5 = int(input("Enter the list size "))

print("\n")
for i in range(0, ITEM_n_5):
    print("Enter number at index", i, )
    item = int(input())
    ITEM_list_5.append(item)
print("User list is ", ITEM_list_5)

Enter the list size 12


Enter number at index 0
1
Enter number at index 1
2
Enter number at index 2
3
Enter number at index 3
4
Enter number at index 4
5
Enter number at index 5
6
Enter number at index 6
7
Enter number at index 7
8
Enter number at index 8
9
Enter number at index 9
10
Enter number at index 10
11
Enter number at index 11
12
User list is  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
ITEM_list_5

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# ITEM List Creation for Table 6

In [ ]:
ITEM_list_6 = []
ITEM_n_6 = int(input("Enter the list size "))

print("\n")
for i in range(0, ITEM_n_6):
    print("Enter number at index", i, )
    item = int(input())
    ITEM_list_6.append(item)
print("User list is ", ITEM_list_6)

Enter the list size 1


Enter number at index 0
1
User list is  [1]

In [ ]:
ITEM_list_6

[1]

# ITEM List Creation for Table 7

In [ ]:
ITEM_list_7 = []
ITEM_n_7 = int(input("Enter the list size "))

print("\n")
for i in range(0, ITEM_n_7):
    print("Enter number at index", i, )
    item = int(input())
    ITEM_list_7.append(item)
print("User list is ", ITEM_list_7)

Enter the list size 2


Enter number at index 0
1
Enter number at index 1
2
User list is  [1, 2]

In [ ]:
ITEM_list_7

[1, 2]

# ITEM List Creation for Table 8

In [ ]:
ITEM_list_8 = []
ITEM_n_8 = int(input("Enter the list size "))

print("\n")
for i in range(0, ITEM_n_8):
    print("Enter number at index", i, )
    item = int(input())
    ITEM_list_8.append(item)
print("User list is ", ITEM_list_8)

Enter the list size 2


Enter number at index 0
1
Enter number at index 1
2
User list is  [1, 2]

In [ ]:
ITEM_list_8

[1, 2]

# ITEM List Creation for Table 9

In [ ]:
ITEM_list_9 = []
ITEM_n_9 = int(input("Enter the list size "))

print("\n")
for i in range(0, ITEM_n_9):
    print("Enter number at index", i, )
    item = int(input())
    ITEM_list_9.append(item)
print("User list is ", ITEM_list_9)

Enter the list size 3


Enter number at index 0
1
Enter number at index 1
2
Enter number at index 2
3
User list is  [1, 2, 3]

In [ ]:
ITEM_list_9

[1, 2, 3]

# ITEM List Creation for Table 10

In [ ]:
ITEM_list_10 = []
ITEM_n_10 = int(input("Enter the list size "))

print("\n")
for i in range(0, ITEM_n_10):
    print("Enter number at index", i, )
    item = int(input())
    ITEM_list_10.append(item)
print("User list is ", ITEM_list_10)

Enter the list size 13


Enter number at index 0
1
Enter number at index 1
2
Enter number at index 2
3
Enter number at index 3
4
Enter number at index 4
5
Enter number at index 5
6
Enter number at index 6
7
Enter number at index 7
8
Enter number at index 8
12
Enter number at index 9
13
Enter number at index 10
14
Enter number at index 11
15
Enter number at index 12
16
User list is  [1, 2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 15, 16]

In [ ]:
ITEM_list_10

[1, 2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 15, 16]

# Creation of Dataframe

In [ ]:
import pandas as pd

list(zip(list_partnumber_1_updated,partname_1,QTY_list_1,ITEM_list_1))
df_01 = pd.DataFrame(list(zip(list_partnumber_1_updated,partname_1,QTY_list_1,ITEM_list_1)),columns =['Part Number', 'Part Name','QTY','ITEM'])
df_01

  Part Number               Part Name  QTY  ITEM
0   333/Y1461   Rod Connecting Engine    1     3
1   333/Y2302    Screw Connecting Rod    2     6
2   333/Y2494                    Bush    1     7
3   333/Y1509           Piston Engine    6     8
4   333/Y2436              Pin Piston    6     9
5   333/Y2471  Bearing Connecting Rod   12    10
6   333/Y2379          Ring Retaining   12    11
7   333/Y2313        Ring Compression    6    12
8   333/Y2369        Ring Compression    6    13
9   333/Y1457        Ring Compression    6    14

In [ ]:
list(zip(list_partnumber_2_updated,partname_2,QTY_list_2,ITEM_list_2))
df_02 = pd.DataFrame(list(zip(list_partnumber_2_updated,partname_2,QTY_list_2,ITEM_list_2)),columns =['Part Number', 'Part Name','QTY','ITEM'])
df_02

  Part Number           Part Name  QTY  ITEM
0   02/910410            Camshaft    1     1
1   02/910411       Gear Camshaft    1     2
2   02/910062                 Key    1     3
3   02/910063  Bracket Cam Thrust    1     4
4   02/911013               Screw    2     5
5   02/910634              Tappet   12     6

In [ ]:
list(zip(list_partnumber_3_updated,partname_3,QTY_list_3,ITEM_list_3))
df_03 = pd.DataFrame(list(zip(list_partnumber_3_updated,partname_3,QTY_list_3,ITEM_list_3)),columns =['Part Number', 'Part Name','QTY','ITEM'])
df_03

  Part Number         Part Name  QTY  ITEM
0   332/Y5370   Timer Overcrank    1     1
1   333/Y2435      Washer Plain    1     2
2   333/Y2439  Bracket Governor    1     3
3   333/Y2496    Harness Wiring    1     4
4   333/Y2440          Nut Lock    1     5

In [ ]:
list(zip(list_partnumber_4_updated,partname_4,QTY_list_4,ITEM_list_4))
df_04 = pd.DataFrame(list(zip(list_partnumber_4_updated,partname_4,QTY_list_4,ITEM_list_4)),columns =['Part Number', 'Part Name','QTY','ITEM'])
df_04

  Part Number                                   Part Name  QTY  ITEM
0   332/Y5833  Ring Gear Flywheel Ring Gear Flywheel Ring    1     1
1   335/C4772                                    Flywheel    1     2
2   02/911018                                Washer Plain    8     3
3   02/911017                                       Screw    8     4

In [ ]:
list(zip(list_partnumber_5_updated,partname_5,QTY_list_5,ITEM_list_5))
df_05 = pd.DataFrame(list(zip(list_partnumber_5_updated,partname_5,QTY_list_5,ITEM_list_5)),columns =['Part Number', 'Part Name','QTY','ITEM'])
df_05

   Part Number                                         Part Name  QTY  ITEM
0    333/Y2281                                  Housing Flywheel    1     1
1    02/911015                                             Screw    8     2
2    02/910069                                       Plate Cover    1     3
3    02/911543                                Cover Plate , Rear    2     4
4    02/912635                      Kit-seal Rear Crankshaft Oil    1     5
5    02/910029                          Gasket Rear Seal Housing    1     6
6    02/910571                                              Plug    1     7
7    02/910067                                            O Ring    1     8
8    02/910068                                              Plug    1     9
9    02/910028                             Seal Rectangular Ring    1    10
10   02/911014                             Screw Flange Head 8.8    6    11
11   333/Y2287  Screw SCREW,HEXAGO AN HEAD SCREW, HEXAGO AN HEAD    2    12

In [ ]:
list(zip(list_partnumber_6_updated,partname_6,QTY_list_6,ITEM_list_6))
df_06 = pd.DataFrame(list(zip(list_partnumber_6_updated,partname_6,QTY_list_6,ITEM_list_6)),columns =['Part Number', 'Part Name','QTY','ITEM'])
df_06

  Part Number            Part Name  QTY  ITEM
0   333/Y2433  Pin: Throttle Lever    1     1

In [ ]:
list(zip(list_partnumber_7_updated,partname_7,QTY_list_7,ITEM_list_7))
df_07 = pd.DataFrame(list(zip(list_partnumber_7_updated,partname_7,QTY_list_7,ITEM_list_7)),columns =['Part Number', 'Part Name','QTY','ITEM'])
df_07

  Part Number          Part Name  QTY  ITEM
0   333/Y2275    Bracket Lifting    1     1
1   333/Y2343  Screw Flange, Hex    2     2

In [ ]:
list(zip(list_partnumber_8_updated,partname_8,QTY_list_8,ITEM_list_8))
df_08 = pd.DataFrame(list(zip(list_partnumber_8_updated,partname_8,QTY_list_8,ITEM_list_8)),columns =['Part Number', 'Part Name','QTY','ITEM'])
df_08

  Part Number              Part Name  QTY  ITEM
0   333/Y2319      Cover Access Hole    1     1
1   332/Y3324  Seal Rectangular Ring    1     2

In [ ]:
list(zip(list_partnumber_9_updated,partname_9,QTY_list_9,ITEM_list_9))
df_09 = pd.DataFrame(list(zip(list_partnumber_9_updated,partname_9,QTY_list_9,ITEM_list_9)),columns =['Part Number', 'Part Name','QTY','ITEM'])
df_09

  Part Number          Part Name  QTY  ITEM
0   333/Y2274        Plate Cover    1     1
1   333/Y2273             Gasket    1     2
2   333/Y2306  Screw Flange, Hex    2     3

In [ ]:
list(zip(list_partnumber_10_updated,partname_10,QTY_list_10,ITEM_list_10))
df_10 = pd.DataFrame(list(zip(list_partnumber_10_updated,partname_10,QTY_list_10,ITEM_list_10)),columns =['Part Number', 'Part Name','QTY','ITEM'])
df_10

   Part Number                      Part Name  QTY  ITEM
0    02/911676                        Bracket    1     1
1    333/Y1456             Shaft Rocker Lever    1     2
2    02/910822                           Plug    1     3
3    02/911674                          Lever    1     4
4    02/911139            Insert Rocker Lever    2     5
5    02/911138                Screw Adjusting    2     6
6    02/910821  Nut 3/8"-24UNF, Heavy Hexagon    2     7
7    02/911673                          Lever    1     8
8    02/911024                   Washer Plain    2    12
9    02/910083                        Circlip    2    13
10   02/910084                       Rod Push   12    14
11   02/911025                           Bolt    6    15
12   02/911030                           Bolt    6    16

In [ ]:
df_final = pd.concat([df,df_01,df_02,df_03,df_04,df_05,df_06,df_07,df_08,df_09,df_10], ignore_index=True)
df_final

,Unnamed: 0,Part Number,Part Name,QTY,ITEM,Part Number
0,NaN,NaN,Rod Connecting Engine,1,3,333/Y1461
1,NaN,NaN,Screw Connecting Rod,2,6,333/Y2302
2,NaN,NaN,Bush,1,7,333/Y2494
3,NaN,NaN,Piston Engine,6,8,333/Y1509
4,NaN,NaN,Pin Piston,6,9,333/Y2436
5,NaN,NaN,Bearing Connecting Rod,12,10,333/Y2471
6,NaN,NaN,Ring Retaining,12,11,333/Y2379
7,NaN,NaN,Ring Compression,6,12,333/Y2313
8,NaN,NaN,Ring Compression,6,13,333/Y2369
9,NaN,NaN,Ring Compression,6,14,333/Y1457
10,NaN,NaN,Camshaft,1,1,02/910410
11,NaN,NaN,Gear Camshaft,1,2,02/910411
12,NaN,NaN,Key,1,3,02/910062
13,NaN,NaN,Bracket Cam Thrust,1,4,02/910063
14,NaN,NaN,Screw,2,5,02/911013
15,NaN,NaN,Tappet,12,6,02/910634
16,NaN,NaN,Timer Overcrank,1,1,332/Y5370
17,NaN,NaN,Washer Plain,1,2,333/Y2435
18,NaN,NaN,Bracket Governor,1,3,333/Y2439
19,NaN,NaN,Harness Wiring,1,4,333/Y2496
20,NaN,NaN,Nut Lock,1,5,333/Y2440
21,NaN,NaN,Ring Gear Flywheel Ring Gear Flywheel Ring,1,1,332/Y5833
22,NaN,NaN,Flywheel,1,2,335/C4772
23,NaN,NaN,Washer Plain,8,3,02/911018
24,NaN,NaN,Screw,8,4,02/911017
25,NaN,NaN,Housing Flywheel,1,1,333/Y2281
26,NaN,NaN,Screw,8,2,02/911015
27,NaN,NaN,Plate Cover,1,3,02/910069
28,NaN,NaN,"Cover Plate , Rear",2,4,02/911543
29,NaN,NaN,Kit-seal Rear Crankshaft Oil,1,5,02/912635
30,NaN,NaN,Gasket Rear Seal Housing,1,6,02/910029
31,NaN,NaN,Plug,1,7,02/910571
32,NaN,NaN,O Ring,1,8,02/910067
33,NaN,NaN,Plug,1,9,02/910068
34,NaN,NaN,Seal Rectangular Ring,1,10,02/910028
35,NaN,NaN,Screw Flange Head 8.8,6,11,02/911014
36,NaN,NaN,"Screw SCREW,HEXAGO AN HEAD SCREW, HEXAGO AN HEAD",2,12,333/Y2287
37,NaN,NaN,Pin: Throttle Lever,1,1,333/Y2433
38,NaN,NaN,Bracket Lifting,1,1,333/Y2275
39,NaN,NaN,"Screw Flange, Hex",2,2,333/Y2343
40,NaN,NaN,Cover Access Hole,1,1,333/Y2319
41,NaN,NaN,Seal Rectangular Ring,1,2,332/Y3324
42,NaN,NaN,Plate Cover,1,1,333/Y2274
43,NaN,NaN,Gasket,1,2,333/Y2273
44,NaN,NaN,"Screw Flange, Hex",2,3,333/Y2306
45,NaN,NaN,Bracket,1,1,02/911676
46,NaN,NaN,Shaft Rocker Lever,1,2,333/Y1456
47,NaN,NaN,Plug,1,3,02/910822
48,NaN,NaN,Lever,1,4,02/911674
49,NaN,NaN,Insert Rocker Lever,2,5,02/911139
50,NaN,NaN,Screw Adjusting,2,6,02/911138
51,NaN,NaN,"Nut 3/8""-24UNF, Heavy Hexagon",2,7,02/910821
52,NaN,NaN,Lever,1,8,02/911673
53,NaN,NaN,Washer Plain,2,12,02/911024
54,NaN,NaN,Circlip,2,13,02/910083
55,NaN,NaN,Rod Push,12,14,02/910084
56,NaN,NaN,Bolt,6,15,02/911025
57,NaN,NaN,Bolt,6,16,02/911030

In [ ]:
df_final.to_csv('data_test.csv')
!cp data.csv "drive/My Drive/"

cp: cannot stat 'data.csv': No such file or directory